:root {
  font-size: 16px;
  font-family: "Open Sans";
  --bg-primary: #23232e;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar {
  display: grid;
  grid-template-columns: repeat( 6, 1fr );
  height: auto;
  position: static;
  background-color: var(--bg-primary);
}

.nav-item {
    padding: 2vh;
}

#logo {
    grid-column: 1 / 4;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color:#ddd;
    text-decoration: none;
}


.profile {
  text-align: center;
}

hr {
  color: #ddd;
}
