:root {
  font-size: 16px;
  font-family: "Open Sans";
  --bg-primary: #006633;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5vw;
  margin-right: 5vw;

}


main h2 {
    color: var(--bg-primary)
}

.skills{
    /* min-width: 30vw; */
    width: 50%;
    /* margin: 10vw auto; */

}

@media only screen and (max-width: 600px) {
    .skills{
        width: 100%
    }

    .bar{
        height: 5vh;

    }

    .bar span{
        height: 5vh;
    }
  }
.skills li{
    list-style: none;
    margin: 20px 0;
}

.bar{
    background-color: #ddd;
    display: block;
    height: 2vh;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(124, 124, 124)
}

.bar span{
    height: 2vh;
    float: left;
    background: var(--bg-primary);
}

.html{
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }  
}


.css{
    width: 50%;
    animation: css 2s;
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }  
}

.javascript{
    width: 60%;
    animation: javascript 2s;
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }  
}

.python{
    width: 60%;
    animation: python 2s;
}

@keyframes python {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }  
}

.mysql{
    width: 40%;
    animation: mysql 2s;
}

@keyframes mysql {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }  
}

.java{
    width: 70%;
    animation: java 2s;
}

@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }  
}

#resume {
    text-decoration: none;
    color: var(--bg-primary);
}

#resume img{
    width: 100%;
    max-width: 100px;
    height: auto;
}



#profile-pic {
    border-radius: 50%;
    width: 100%;
    max-width: 350px;
    height: auto;

}

.social-icons a {
    text-decoration: none;
    color: #ddd;
}

.social-icons img {
    width: 100%;
    max-width: 50px;
    height: auto;
    padding: 1vw;
}

.projects{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

    grid-gap: 3vw;
    grid-auto-rows: minmax(10vh, auto);

}

.project-list {
    text-align: center;
    background: #eee;
}

.project-list a{
    text-decoration: none;
    color: royalblue;
}

.project-list a:hover{

    color: red;
}

.projects img{
    width: 100%;
    max-width: 1fr;
    /* max-height: 50vh; */
    height: 40vh;
    /* height: auto; */
}


.navbar {
  display: grid;
  grid-template-columns: repeat( 6, 1fr );
  height: auto;
  position: static;
  background-color: var(--bg-primary);
}

.nav-item {
    padding: 2vh;

}

.nav-item i {
    padding-right: 1vw;
}



#logo {
    grid-column: 1 / 4;
    padding-left: 1vw;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color:#ddd;
    text-decoration: none;
}


.profile {
    padding-top: 10vh;
    text-align: center;
}

hr {
  color: #ddd;
}

#about-me a{
    text-decoration: none;
    color: royalblue;
}

#about-me a:hover{
    color: red;
}