:root {
  font-size: 16px;
  font-family: "Open Sans";
  --bg-primary: #006633;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5vw;
  margin-right: 5vw;

}

main h2 {
    color: var(--bg-primary)
}

#profile-pic {
    border-radius: 50%;
    width: 100%;
    max-width: 350px;
    height: auto;
}

.navbar {
  display: grid;
  grid-template-columns: repeat( 6, 1fr );
  height: auto;
  position: static;
  background-color: var(--bg-primary);
}

.nav-item {
    padding: 2vh;

}

.nav-item i {
    padding-right: 1vw;
}



#logo {
    grid-column: 1 / 4;
    padding-left: 1vw;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color:#ddd;
    text-decoration: none;
}


.profile {
    padding-top: 10vh;
    text-align: center;
}

hr {
  color: #ddd;
}
